/* Main Element style */
* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.main-header {
  justify-content: space-between;
}

.main-nav,
.main-header,
.main-header > div,
.main-section {
  display: flex;
}

.main-nav {
  list-style-type: none;
  padding: 12px;
}

.main-header {
  padding: 0.5em 5em;
}

ul > :first-child {
  padding-left: 10px;
  padding-right: 18px;
}

ul > :nth-child(2) {
  padding-right: 25px;
}

a {
  text-decoration: none;
}

.change {
  color: hsl(0, 0%, 75%);
}

.name a {
  color: #000;
}

.btn {
  background-color: hsl(180, 66%, 49%);
  border-color: transparent;
  color: #fff;
}

.btn--signup {
  border-radius: 15px;
  padding: 7px 15px;
}

.btn--get-started {
  border-radius: 20px;
  font-size: 13px;
  font-weight: bold;
  padding: 10px 20px;
}

.decrease {
  font-size: 13px;
}

.main-section {
  padding-left: 5em;
}

.main-section * h2 {
  font-size: 55px;
  font-weight: bold;
  margin-bottom: 0;
  line-height: 1.2;
}

.main-section * p {
  margin-top: -5px;
  font-size: 17px;
}

.main-section > div {
  margin-top: 1px;
}

/* .start__btn {
  
  padding: 13px 23px;
} */

.first-img {
  margin-left: 16px;
}

@media (max-width: 769px) {
  .main-section {
    flex-direction: column-reverse;
    flex-wrap: wrap;
    padding: 1.5em;
  }

  .main-section > div {
    text-align: center;
  }
  .main-section > div,
  .main-section > .first-img {
    margin-bottom: 1em;
    width: 100%;
  }

  .main-section * h2 {
    font-size: 40px;
    margin-bottom: 0.5em;
  }
}
